@page "{id:int}"
@model ObracunKorisnika
@{
    ViewData["Title"] = "Obračun";
}

<div class="container text-center">
    <h1 class="mt-4 mb-3">Lista za obračun</h1>
</div>
<div class="container">
    @foreach (var unos in Model.RadniUnosiKorisnika)
    {
        <form method="post" action="" class="col-md-6 mx-auto">
            <div class="card mb-3">
                <div class="card-body">
                    <p class="card-title text-left">Datum početka: @unos.DatumPocetka.ToShortDateString()</p>
                    <p class="card-title text-left">Datum završetka: @unos.DatumZavrsetka.ToShortDateString()</p>
                    <p class="card-title text-left">Opis: @unos.Opis</p>
                    <p class="card-title text-left">Ukupno neto: @unos.UkupnoNeto €</p>

                    <div class=" mt-3 mb-3">
                        <label for="koeficijent" class="text-left">Koeficijent:</label>
                        <input type="text" class="form-control" name="koeficijent" placeholder="Unesite koeficijent" required>
                        <input type="hidden" name="unosId" value="@unos.Id" />
                    </div>

                    <button type="submit" class="btn btn-primary">Obračunaj</button>
                </div>
            </div>
        </form>
    }
</div>


